{% extends "index.html" %}

{% load static %}

{% block CATEGORY %}
{% endblock %}

{% block menu_home_button %}
<li><a href={% url 'home' %}>Главная</a></li>
{% endblock %}

{% block menu_salesmans_button %}
<li class="active">
    <a href={% url 'salesmans' %}>Мастера</a>
</li>
{% endblock %}

{% block content %}
<!-- Start Salesman Info -->
<section id="contact-us" class="contact-us section">
	<div class="container">
        <div class="contact-head">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="form-main">
                        <div class="title">
                            <h3>{{ salesman.user.first_name }}</h3>
                        </div>
                        <p>{{ salesman.description }}</p>
                    </div>
                    <div class="col-lg-12 col-12">
                        <div class="product-info">
                            <div class="row">
                                {% for product in products %}
                                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="{% url 'product_info' %}?product_id={{ product.id }}">
                                                <img class="default-img" src="/{{ product.main_photo }}" alt="#">
                                                <img class="hover-img" src="/{{ product.main_photo }}" alt="#">
                                            </a>
                                            <div class="button-head">
                                                {% if not user.is_anonymous %}
                                                    <div class="product-action">
                                                        {% if product.id in like_id_list %}
                                                            <div class="active">
                                                                <a class="active" href="{% url 'dislike' %}?product_id={{ product.id }}&back_path={{ back_path }}&flip=true">
                                                                    {{ product.likes.count }}
                                                                    <i class="ti-heart"></i>
                                                                    <span>Нравится</span>
                                                                </a>
                                                            </div>
                                                        {% else %}
                                                            <a href="{% url 'like' %}?product_id={{ product.id }}&back_path={{ back_path }}&back_path=salesman_info&flip=true">
                                                                {{ product.likes.count }}
                                                                <i class="ti-heart"></i>
                                                                <span>Нравится</span>
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="product-action-2">
                                                        {% if product.id in select_id_list %}
                                                            <a href="{% url 'del_from_cart' %}?product_id={{ product.id }}&back_path=salesman_info&flip=true">Убрать из избранного</a>
                                                        {% else %}
                                                            <a href="{% url 'add_to_cart' %}?product_id={{ product.id }}&back_path=salesman_info&flip=true">Добавить в избранное</a>
                                                        {% endif %}
                                                    </div>
                                                {% else %}
                                                    <div class="product-action">
                                                        <a href="{% url 'login' %}">
                                                            {{ product.likes.count }}
                                                            <i class="ti-heart"></i>
                                                            <span>Нравится</span>
                                                        </a>
                                                    </div>
                                                    <div class="product-action-2">
                                                        <a href="{% url 'login' %}">Добавить в избранное</a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="{% url 'product_info' %}?product_id={{ product.id }}">{{ product.name }}</a></h3>
                                            <div class="product-price">
                                                <span>{{ product.price }} руб.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="single-head">
                        <div class="single-info">
                            <img src="/{{ salesman.photo }}">
                        </div>
                        <div class="single-info">
                            <i class="fa fa-phone"></i>
                            <h4 class="title">Звоните по номеру:</h4>
                            <ul>
                                <li>{{ salesman.phone }}</li>
                            </ul>
                        </div>
                        <div class="single-info">
                            <i class="fa fa-envelope-open"></i>
                            <h4 class="title">Email:</h4>
                            <ul>
                                <li>{{ salesman.user.email }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Salesman Info -->
{% endblock %}