{% extends "index.html" %}

{% load static %}

{% block category %}
{% endblock %}

{% block menu_home_button %}
<li><a href={% url 'home' %}>Главная</a></li>
{% endblock %}

{% block menu_about_button %}
<li class="active">
    <a href="#">О нас</a>
</li>
{% endblock %}

{% block content %}
<!-- Start About -->
<section id="contact-us" class="contact-us section">
	<div class="container">
			<div class="contact-head">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="form-main">
							<div class="title">
								<h4>Маленький лозунг</h4>
								<h3>Большой красивый заголовок</h3>
							</div>
							<p>Несколько абзацев текста</p>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="single-head">
							<div class="single-info">
								<i class="fa fa-phone"></i>
								<h4 class="title">Звоните нам по номеру:</h4>
								<ul>
									<li>8 902 257-71-69</li>
								</ul>
							</div>
							<div class="single-info">
								<i class="fa fa-envelope-open"></i>
								<h4 class="title">Email:</h4>
								<ul>
									<li>svet_tan@mail.ru</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<!--/ End About -->
{% endblock %}