{% extends "index.html" %}

{% load static %}

{% block CATEGORY %}
{% endblock %}

{% block menu_home_button %}
<li><a href={% url 'home' %}>Главная</a></li>
{% endblock %}

{% block menu_about_button %}
<li class="active">
    <a href="#">О нас</a>
</li>
{% endblock %}

{% block content %}
<!-- Start About -->
<section id="contact-us" class="contact-us section">
	<div class="container">
			<div class="contact-head">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="form-main">
							<div class="title">
								<h4>Сделано с душой</h4>
								<h3>Manufaktur — магазин изделий, сделанных своими руками</h3>
							</div>
							<p>
								<br>
								Мы — интернет-площадка уникальных товаров для дома и интерьера.
								В нашем ассортименте вы найдёте эксклюзивные предметы декора,
								мебель ручной работы, авторские аксессуары и многое другое.
								Наши мастера стремимся предложить нашим клиентам нечто особенное,
								что подчеркнёт индивидуальность и добавит уют в их пространство.
								<br>
							</p>
							<p>
								<br>
								Наша команда тщательно отбирает каждый товар, чтобы гарантировать
								высокое качество и оригинальность. Мы работаем с талантливыми
								мастерами и производителями, которые вкладывают душу в свои творения.
								<br>
							</p>
							<p>
								<br>
								Посетите наш магазин и откройте для себя мир уникальных вещей!
								<br>
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="single-head">
							<div class="single-info">
								<i class="fa fa-phone"></i>
								<h4 class="title">Звоните нам по номеру:</h4>
								<ul>
									<li>8 902 257-71-69</li>
								</ul>
							</div>
							<div class="single-info">
								<i class="fa fa-envelope-open"></i>
								<h4 class="title">Email:</h4>
								<ul>
									<li>manufakture@bk.ru</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<!--/ End About -->
{% endblock %}