{% extends "index.html" %}

{% load static %}

{% block CATEGORY %}
{% endblock %}

{% block menu_home_button %}
<li><a href={% url 'home' %}>Главная</a></li>
{% endblock %}

{% block content %}
<div class="shopping-cart section">
	<div class="container">
		<div class="row">
			<div class="col-8">
				<div class="content">
					<div class="button">
						<a href="{% url 'product_add_form' %}">
							<button class="btn" type="button">
								<i class="ti-plus"></i> ДОБАВИТЬ
							</button>
						</a>
					</div>
				</div>
				<!-- Products Summery -->
				<table class="table shopping-summery">
					<thead>
						<tr class="main-hading">
							<th>ТОВАР</th>
							<th>НАЗВАНИЕ И ОПИСАНИЕ</th>
							<th class="text-center">ЦЕНА руб.</th>
							<th class="text-center" >КАТЕГОРИЯ</th>
							<th class="text-center"><i class="ti-trash remove-icon"></i></th>
						</tr>
					</thead>
					<tbody>
						{% for product in products %}
							<tr>
								<td class="image" data-title="No">
									<img src="/{{ product.main_photo }}" alt="#">
								</td>
								<td class="product-des" data-title="Description">
									<p class="product-name">
										<a href={% url 'product_info' %}?product_id={{ product.id }}>
											{{ product.name }}
										</a>
									</p>
									<p>{{ product.description }}</p>
								</td>
								<td class="price" data-title="Price"><span>{{ product.price }}</span></td>
								<td class="price" data-title="Category">{{ product.category.name }}</td>
								<td class="action" data-title="Remove">
									<a href="{% url 'delite_consent' %}?object_type=product&target_id={{ product.id }}">
										<i class="ti-trash remove-icon"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<!--/ End Shopping Summery -->
			</div>
			<!-- Personal info -->
			<div class="col-lg-4 col-12">
				<section id="contact-us" class="contact-us section">
					<div class="single-head">
						<div class="single-info">
							<a href="{% url 'salesman_info' %}?salesman_id={{ salesman.id }}">
								<img src="/{{ salesman.photo }}">
							</a>
						</div>
							<div class="single-info">
								<h3>
									<a href="{% url 'salesman_info' %}?salesman_id={{ salesman.id }}">
										{{ salesman.user.first_name }}
									</a>
								</h3>
							</div>
						<div class="single-info">
							<i class="fa fa-phone"></i>
							<h4 class="title">Телефон:</h4>
							<ul>
								<li>{{ salesman.phone }}</li>
							</ul>
						</div>
						<div class="single-info">
							<i class="fa fa-envelope-open"></i>
							<h4 class="title">Email:</h4>
							<ul>
								<li>{{ salesman.user.email }}</li>
							</ul>
						</div>
						<div class="single-info">
							<div class="content">
								<div class="button">
									<a href="{% url 'change_personal_info' %}">
										<button class="btn">Редактировать</button>
									</a>
								</div>
							</div>
						</div>
						<div class="single-info">
							<div class="content">
								<div class="button">
									<a href="{% url 'delite_consent' %}?object_type=salesman&target_id={{ salesman.id }}">
										<button class="del_btn">Удалить</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<!-- /End Personal info -->
		</div>
	</div>
</div>
{% endblock %}