{% extends "index.html" %}

{% load static %}

{% block CATEGORY %}
    <div class="col-lg-3">
        <div class="all-category">
            <h3 class="cat-heading">
                <i class="fa fa-bars" aria-hidden="true"></i>
                {% if category %}
                    {{ category.name }}
                {% else %}
                    КАТЕГОРИИ
                {% endif %}
            </h3>
            <ul class="main-category">
                {% for iter_category in categories %}
                    {% if iter_category.parent_category_id == category.id %}
                        <li>
                            <a href="{% url 'products' %}?category_id={{ iter_category.id }}">
                                {{ iter_category.name }}
                                {% for parent_id in parent_categories_id %}
                                    {% if iter_category.id == parent_id %}
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    {% endif %}
                                {% endfor %}
                            </a>
                            <ul class="sub-category">
                                {% for sub_category in categories %}
                                    {% if sub_category.parent_category_id == iter_category.id %}
                                        <li>
                                            <a href="{% url 'products' %}?category_id={{ sub_category.id }}">
                                                {{ sub_category.name }}
                                                {% for sub_parent_id in parent_categories_id %}
                                                    {% if sub_category.id == sub_parent_id %}
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </a>
                                            <ul class="sub-sub-category">
                                                {% for sub_sub_category in categories %}
                                                    {% if sub_sub_category.parent_category_id == sub_category.id %}
                                                        <li>
                                                            <a href="{% url 'products' %}?category_id={{ sub_sub_category.id }}">
                                                                {{ sub_sub_category.name }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block menu_home_button %}
<li><a href={% url 'home' %}>Главная</a></li>
{% endblock %}

{% block menu_product_button %}
<li class="active">
    <a href={% url 'products' %}>Товары</a>
</li>
{% endblock %}

{% block content %}
<!-- Breadcrumbs -->
{% if category or search_response %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        {% if category %}
                            <ul class="bread-list">
                                <li><a href="{% url 'products' %}">Все категории</a></li>
                                {% for iter_category in way %}
                                    <li>
                                        <i class="ti-arrow-right"></i>
                                        <a href="{% url 'products' %}?category_id={{ iter_category.id }}">
                                            {{ iter_category.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <p>{{ search_response }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- End Breadcrumbs -->
<!-- Start Product Area -->
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Товары</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="checkout-form">
                            <label><i class="ti-filter"></i></label>
                            <input form="search" type="number" name="min_price" min="0" {% if min_price %} placeholder={{ min_price }} {% else %} placeholder="минимальная цена" {% endif %}>
                            <input form="search" type="number" name="max_price" min="0" {% if max_price %} placeholder={{ max_price }} {% else %} placeholder="максимальная цена" {% endif %}>
                            <button class="btn" form="search" type="submit">Применить</button>
                        </div>
                    </div>
                        <div class="row">
                            {% for products in priorities %}
                                {% for product in products %}
                                <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="{% url 'product_info' %}?product_id={{ product.id }}">
                                                <img class="default-img" src="/{{ product.main_photo }}" alt="#">
                                                <img class="hover-img" src="/{{ product.main_photo }}" alt="#">
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    {% if product.id in like_id_list %}
                                                        <div class="active">
                                                            <a class="active" href="{% url 'dislike' %}?product_id={{ product.id }}">
                                                                {{ product.likes.count }}
                                                                <i class="ti-heart"></i>
                                                                <span>Нравится</span>
                                                            </a>
                                                        </div>
                                                    {% else %}
                                                        <a href="{% url 'like' %}?product_id={{ product.id }}">
                                                            {{ product.likes.count }}
                                                            <i class="ti-heart"></i>
                                                            <span>Нравится</span>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                                <div class="product-action-2">
                                                    {% if product.id in select_id_list %}
                                                        <a href="{% url 'del_from_cart' %}?product_id={{ product.id }}">Убрать из избранного</a>
                                                    {% else %}
                                                        <a href="{% url 'add_to_cart' %}?product_id={{ product.id }}">Добавить в избранное</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="{% url 'product_info' %}?product_id={{ product.id }}">{{ product.name }}</a></h3>
                                            <div class="product-price">
                                                <span>{{ product.price }} руб.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Area -->
{% endblock %}