{% extends "index.html" %}

{% load static %}

{% block CATEGORY %}
{% endblock %}

{% block menu_home_button %}
<li><a href={% url 'home' %}>Главная</a></li>
{% endblock %}

{% block menu_salesmans_button %}
<li class="active">
    <a href={% url 'salesmans' %}>Мастера</a>
</li>
{% endblock %}

{% block content %}
<!-- Start Search Response -->
{% if search_response %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <p>{{ search_response }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- /End Search Response -->
<!-- Start Salesmans Area -->
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Наши мастера</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="row">
                        {% for salesman in page %}
                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="{% url 'salesman_info' %}?salesman_id={{ salesman.id }}">
                                            <img class="default-img" src="/{{ salesman.photo }}" alt="#">
                                            <img class="hover-img" src="/{{ salesman.photo }}" alt="#">
                                        </a>
                                        <div class="button-head">
                                            <div class="product-action">
                                                <!--<label>{{ salesman.likes.count }}</label>-->
                                                <a title="Нравится" href="#" hidden="hidden"><i class=" ti-heart "></i><span>Нравится</span></a>
                                            </div>
                                            <div class="product-action-2">
                                                <a title="Подробнее" href="{% url 'salesman_info' %}?salesman_id={{ salesman.id }}">Перейти на страницу</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="{% url 'salesman_info' %}?salesman_id={{ salesman.id }}">{{ salesman.user.first_name }}</a></h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Salesmans Area -->
<!-- Start Page Navigation -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <div class="page-navigation">
                        <form {% if search_query %} method="post" {% endif %}>
                            {% csrf_token %}
                                <input name="category_id" value="{{ category.id }}" hidden="hidden">
                                <input name="search" value="{{ search_query }}" hidden="hidden">
                                <input name="mode" value="salesman" hidden="hidden">
                                <input name="min_price" value="{{ min_price }}" hidden="hidden">
                                <input name="max_price" value="{{ max_price }}" hidden="hidden">
                                {% if has_previous %}
                                    <button class="btn" name="page" value="{{ previous_page_number }}">
                                        <i class="fa fa-angle-left"></i>—
                                    </button>
                                {% endif %}
                                {% for page_num in page_range %}
                                    {% if page_num > 0 %}
                                        {% if page_num is current_page_number %}
                                            <button class="btn-active" name="page" value="{{ page_num }}">
                                                {{ page_num }}
                                            </button>
                                        {% else %}
                                            <button class="btn" name="page" value="{{ page_num }}">
                                                {{ page_num }}
                                            </button>
                                        {% endif %}
                                    {% else %}
                                    <i style="font-size: 40px">...</i>
                                    {% endif %}
                                {% endfor %}
                                {% if has_next %}
                                    <button class="btn" name="page" value="{{ next_page_number }}">
                                        —<i class="fa fa-angle-right"></i>
                                    </button>
                                {% endif %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Page Navigation -->
{% endblock %}