{% extends "index.html" %}

{% load static %}

{% block CATEGORY %}
{% endblock %}

{% block menu_home_button %}
<li><a href={% url 'home' %}>Главная</a></li>
{% endblock %}

{% block menu_salesmans_button %}
<li class="active">
    <a href={% url 'salesmans' %}>Мастера</a>
</li>
{% endblock %}

{% block content %}
<!-- Start Salesmans Area -->
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Наши мастера</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="row">
                        {% for salesman in salesmans %}
                        <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                            <div class="single-product">
                                <div class="product-img">
                                    <a href="{% url 'salesman_info' %}?salesman_id={{ salesman.id }}">
                                        <img class="default-img" src="/{{ salesman.photo }}" alt="#">
                                        <img class="hover-img" src="/{{ salesman.photo }}" alt="#">
                                    </a>
                                    <div class="button-head">
                                        <div class="product-action">
                                            <!--<label>{{ salesman.likes.count }}</label>-->
                                            <a title="Нравится" href="#"><i class=" ti-heart "></i><span>Нравится</span></a>
                                        </div>
                                        <div class="product-action-2">
                                            <a title="Подробнее" href="{% url 'salesman_info' %}?salesman_id={{ salesman.id }}">Перейти на страницу</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="{% url 'salesman_info' %}?salesman_id={{ salesman.id }}">{{ salesman.user.first_name }}</a></h3>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Salesmans Area -->
{% endblock %}