{% extends "index.html" %}

{% load static %}

{% block CATEGORY %}
{% endblock %}

{% block menu_home_button %}
<li><a href={% url 'home' %}>Главная</a></li>
{% endblock %}

{% block content %}
<!-- Start Checkout -->
<section class="shop checkout product-area section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-12">
				<div class="checkout-form">
					<h2>Добро пожаловать на биржу рукоделия</h2>
					<p>Для регистрации заполните форму</p>
				</div>
			</div>
			<div class="row">
                <div class="col-6">
                    <div class="product-info">
                        <div class="nav-main">
                            <!-- Tab Nav -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#user" role="tab">Пользователь</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#salesman" role="tab">Мастер</a></li>
                            </ul>
                            <!--/ End Tab Nav -->
                        </div>
					</div>
				</div>
				<div class="col-12">
					<div class="product-info">
                        <div class="tab-content" id="myTabContent">
							<!-- Start User Tab -->
							<div class="tab-pane fade show active" id="user" role="tabpanel">
								<div class="tab-single">
									<div class="col-lg-6 col-12">
										<div class="checkout-form">
											<!-- User Form -->
											<form class="form" method="post" action="{% url 'signup' %}?salesman=false">
												{% csrf_token %}
												<div class="row">
													<div class="col-lg-12 col-md-12 col-12">
														<div class="form-group">
															<label>Имя пользователя<span>*</span></label>
															<input type="text" name="username" placeholder="" required="required">
														</div>
													</div>
													<div class="col-lg-12 col-md-12 col-12">
														<div class="form-group">
															<label>Email<span>*</span></label>
															<input type="email" name="email" placeholder="" required="required">
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-12">
														<div class="form-group">
															<label>Пароль<span>*</span></label>
															<input type="password" name="password1" placeholder="" required="required">
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-12">
														<div class="form-group">
															<label>Повторите пароль<span>*</span></label>
															<input type="password" name="password2" placeholder="" required="required">
														</div>
													</div>
												</div>
												<div class="checkout-form" style="color: red">
													<p>{{ error_message }}</p>
												</div>
												<div class="col-lg-12 col-md-12 col-12">
													<div class="single-widget get-button">
														<div class="content">
															<div class="button">
																<button class="btn" type="submit">Зарегистрироваться</button>
															</div>
														</div>
													</div>
												</div>
											</form>
											<!--/ End User Form -->
										</div>
									</div>
								</div>
							</div>
							<!--/ End User Tab -->
							<!-- Start Salesman Tab -->
							<div class="tab-pane fade" id="salesman" role="tabpanel">
								<div class="tab-single">
									<div class="col-lg-6 col-12">
										<div class="checkout-form">
											<!-- Salesman Form -->
											<form class="form" enctype="multipart/form-data" method="post" action="{% url 'signup' %}?salesman=true">
												{% csrf_token %}
												<div class="row">
													<div class="col-lg-12 col-md-12 col-12">
														<div class="form-group">
															<label>Username (уникальное имя пользователя)<span>*</span></label>
															<input type="text" name="username" placeholder="username_example" required="required">
														</div>
													</div>
													<div class="col-lg-12 col-md-12 col-12">
														<div class="form-group">
															<label>Имя мастера (будет отображаться на вашей странице)<span>*</span></label>
															<input type="text" name="first_name" placeholder="" required="required">
														</div>
													</div>
													<div class="col-lg-12 col-md-12 col-12">
														<div class="form-group">
															<label>Email<span>*</span></label>
															<input type="email" name="email" placeholder="" required="required">
														</div>
													</div>
													<div class="col-lg-12 col-md-12 col-12">
														<div class="form-group">
															<label>Телефон<span>*</span></label>
															<input type="tel" name="phone" placeholder="" required="required">
														</div>
													</div>
													<div class="col-lg-12 col-md-12 col-12">
														<div class="single-widget">
															<div class="content">
																<div class="button">
																	<label>Выберите фото<span>*</span></label>
																	<input type="file" accept="image/jpeg,image/png" name="photo" placeholder="Выберите фото" required="required">
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-12 col-md-12 col-12">
														<div class="form-group">
															<label>Информация о себе</label>
															<input type="text" name="description" placeholder="">
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-12">
														<div class="form-group">
															<label>Пароль<span>*</span></label>
															<input type="password" name="password1" placeholder="" required="required">
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-12">
														<div class="form-group">
															<label>Повторите пароль<span>*</span></label>
															<input type="password" name="password2" placeholder="" required="required">
														</div>
													</div>
												</div>
												<div class="checkout-form" style="color: red">
													<p>{{ error_message }}</p>
												</div>
												<div class="col-lg-12 col-md-12 col-12">
													<div class="single-widget get-button">
														<div class="content">
															<div class="button">
																<button class="btn" type="submit">Зарегистрироваться</button>
															</div>
														</div>
													</div>
												</div>
											</form>
											<!-- End Salesman Form -->
										</div>
									</div>
								</div>
							</div>
							<!--/ End Salesman Tab -->
						</div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</section>
<!--/ End Checkout -->
{% endblock %}
